<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container">
        <div class="navbar">
            <div>
              <a href="index.html"><img src="img/download.jpeg" alt="logo" width="80px" height="65px"></a>
            </div>
            
            <div class="link"> 
              <p><a href="home.html">Home</a></p>
              <p><a href="html.html">HTML</a></p>
              <p><a href="css.html">CSS</a></p>
              <p><a href="">Bootstrap</a></p>
              <p><a href="">JavaScript</a></p>
              <p><a href="">JQuery</a></p>
              <p><a href="">Mini Project</a></p>
              <p><a href="">SQL</a></p>
            </div>
            
        </div>
        <div class="pic">
            <div class="center" >
                <img src="img/download.jpeg" alt="logo" width="500px" height="400px" style="box-shadow: 7px 7px 7px 7px white">
            </div>
            <div class="center">
                <p>The Training Site</p>
            </div>
        </div>
    </div>
</body>
</html>
