body{
    padding: 0;
    margin: 0;
}
.container{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: gray;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.navbar img{
    padding: 7px;
    padding-left: 220px;
}

.pic{
    background-color: rgb(49, 49, 54);
    width:1300px;
    height: 700px;
    margin-top: 70px;
    margin-right: 500px;
    margin-left: 290px;
    box-shadow:20px 20px 20px 20px gray;
}

.center{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
}

.center p{
    font-size: 70px;
    color: white;
    padding-top: -10px;
    text-shadow: 2px 2px white;
}

.link{
    padding-left: 570px;
}

.link p{
    display: inline-block;
    margin: 20px;
    padding-top: 10px;
}

.link a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.main{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    
}

.leftbar{
    width: 25%;
    height:900px;
    background-color: rgb(133, 150, 158);
    overflow: hidden;
}

.about{
    margin:10px 60px;
}

ul{
    margin-left: 10px;
}

@media screen and (max-width: 1800px){
    
    .navbar img{
        padding: 7px;
        padding-left: 10px;
    }
    .link{
        padding-left: 10px;
    }
    .link p{
        display: inline-block;
        margin: 10px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 800px){

    .navbar{
        background-color: gray;
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: column;
    }
    
    .navbar img{
        padding: 7px;
        padding-top: 15px;
        padding-left: 100px;
    }
    .link{
        padding-left: 100px;
    }
    .link p{
        display: block;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding-top: 10px;
    }

    .main{
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        
    }

    .leftbar{
        width: 100%;
        height:900px;
        background-color: rgb(133, 150, 158);
        overflow: hidden;
    }
}